.player-input-wrapper {
  background: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  min-width: 320px;
  min-height: 80px;
  height: 145px;
  padding: 10px;
  margin: 30px auto;  border: 5px solid black;

  .valid-input {
    color: green;
    font-weight: 800;
  }
  
  .invalid-input {
    color: red;
    font-weight: 800;
  }

  .player-input {
    display: flex;
    height: 75%;

    textarea {
      width: 95%;
      height: 100%;
      resize: none;
      padding: 10px;
      font-size: 1em;
      color: black;
    }
  
    button {
      width: 100px;
      font-size: 1em;
      font-weight: bold;
      color: black;
    }
  }

}